@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400&family=Poppins:wght@300&family=Quicksand:wght@300;500&display=swap');

/* #97591c */

:root{
    --lightest: #FFFFFF;
    --light: #D1DEE9;
    --mid: #8197A9;
    --dark: #283845;
    --darktest: #202C39;
    --brand: #97591c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Arial', sans-serif;
}

body{
    background-image: url(img/pexels-ann-poan-5797903.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

span{
    color: var(--brand);
}

h1{
    font-size: 3em;
}

.container {
    max-width: 750px;
    width: 80%;
    padding: 2em 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--darktest);
    background-color: var(--dark);
    color: var(--lightest);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto-input{
    padding: 0.7em;
    border-radius: 5px;
    margin-right: 1em;
}

#texto-input:focus{
    outline: 1px solid var(--brand);
}

#cadastro{
    margin-bottom: 2em;
}

#Tarefas{
    min-width: 90%;
}

ul{
    list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--darktest);
    margin: 0.3em;
    border-radius: 5px;
    align-items: center;
}

button{
    padding: 0.7em;
    background-color: var(--light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    color: var(--brand);
    background-color: var(--lightest);

}